body {
  font-family: "Roboto", sans-serif;
  background-color: #f1faee;
  color: #1d3557;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #1d3557;
}

ul {
  list-style-type: none;
  padding: 0;
}
